.view-invoice-section {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    /* Ajusta según el tamaño que prefieras */
    background: rgba(255, 255, 255, 0.9);
    /* Efecto de sobreexposición */
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.view-invoice-h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.view-invoice-button-delete,
.view-invoice-button-shop {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.view-invoice-button-delete {
    background-color: red;
    color: white;
}

.view-invoice-button-shop {
    background-color: green;
    color: white;
}

.view-invoice-footer {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.toggle-invoice-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;

}


/* Animación para ocultar */
.view-invoice-hidden {
    transform: translateX(100%);
}